name: CI

on: push

jobs:
  ubuntu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install fish
        run: |
          sudo apt-add-repository ppa:fish-shell/release-3
          sudo apt update
          sudo apt install fish
      - name: Run tests
        run: make test
  macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install fish
        run: brew install fish
      - name: Run tests
        run: make test
